/* Connexion */
#connexion{
	background-image: url(../img/connexion/background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	@include background-size(cover);
	h1{
		color: #fff;
		text-align: center;
		font-size: 15px;
		padding: 25px 0px;
	}
}

#connexionContent{
	max-width: 490px;
	padding: 55px 4% 65px 4%;
	background-color: $grisFonce;
	margin: 0px auto;
	margin-top: 180px;
}

#connexionLogo{
	margin: 0px auto;
}

#connexionMention{
	width: 100%;
	text-align: center;
	padding-top: 30px;
	p,a{
		color: #fff;
		font-size: 13px;
		line-height: 19px;
	}
	a{color: $turquoise;}
}

/* Menu sortable administration */
#sortable{
	li{
		> div{
			background-color: #fff;
			padding: 17px;
			margin-bottom: 2px;
			position: relative;
			@include transition-property(background-color);
			@include transition-duration(0.4s);
			@include transition-timing-function(ease);
		}
		/* Etat à la selection */
		&.ui-sortable-helper{
			> div{
				background: lighten($grisBleu,9%);
			}
		}
		/* Etat placeholder */
		&.placeholder{
			background-color: $turquoise;
			padding: 17px;
			margin-bottom: 2px;
		}
		/* Icone pour la drag */
		.fa-ellipsis-v{
			font-size: 17px;
			margin-right: 10px;
		}
		.menuAction{
			position: absolute;
			right: 17px;
			top: 14px;
		}
		.tableAction{
			margin-left: 20px;
		}
	}

	/* Identation des sous menu */
	ol,ul{
		margin-left: 20px;
		ol,ul{
			margin-left: 30px;
			ol,ul{
				margin-left: 30px;
			}
		}
	}
}